<!DOCTYPE html>
<html>
<head>
  <style>
    body {
      font-family: Arial;
      padding: 30px;
    }
    h1 {
      text-align: center;
    }
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }
    th, td {
      border: 1px solid #333;
      padding: 8px;
    }
    .total {
      text-align: right;
      margin-top: 20px;
      font-size: 18px;
    }
    .fd{
        display: flex;
        justify-content: space-between;
    }
  </style>
</head>
<body>

    <div class="fd">

        <h1>Invoice</h1>
        <h2>adsf</h2>
    </div>

  <p><strong>Customer:</strong> Aman Mishra</p>
  <p><strong>Date:</strong> 10 Jan 2026</p>

  <table>
    <tr>
      <th>Item</th>
      <th>Qty</th>
      <th>Price</th>
    </tr>
    <tr>
      <td>Keyboard</td>
      <td>1</td>
      <td>₹1500</td>
    </tr>
    <tr>
      <td>Mouse</td>
      <td>2</td>
      <td>₹1000</td>
    </tr>
  </table>

  <div class="total">
    <strong>Total: ₹2500</strong>
  </div>

</body>
</html>
